.media_item_wrap + * {
    margin-top: 30px;
}
.full_layout #widget-training .content-courses {
    padding-top: 0;
}
.btn-green--big {
    width: auto;
    min-width: 178px;
}
.task-status {
    position: absolute;
    top: 30px;
    right: 30px;
}
.task-accept, .task-noaccept {
    width: 148px;
    border-radius: 10px;
    height: 30px;
    line-height: 1;
    font-size: 14px;
    background: #fff;
    text-align: center;
    justify-content: center;
}
.task-accept {
    border: 2px solid #5DCE59;
    text-align: center;
    color: #5DCE59;
    cursor: pointer;
}
.task-noaccept {
    border: 2px solid #FFCA10;
    text-align: center;
    color: #FFCA10;
    cursor: pointer;
}

.task-accepted, .task-noaccepted {
    position: inherit;
    display: inline-block;
    width: 148px;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
}

.task-accepted {
    background: #5DCE59;
    border: 2px solid #5DCE59;
    color: #fff;
}
.task-noaccepted {
    background: #FFCA10;
    border: 2px solid #FFCA10;
    color: #fff;
}
#courses .test {
    background-color: #F7F8FA;
}
#courses .test-wrap {
    background:none;
}
.start-test-form {
    text-align: center;
    margin-top: 30px;
}
.test-not-done.red {
    background: #E04265;
}
.test-try-info {
    margin-top: 30px;
}
.test .question-name {
    margin-bottom: 0;
}
.test .test-answer-row {
    margin-top: 15px;
}
.test .test-answer-row:first-child {
    margin-top: 30px;
}
.test .test-answer-row.with-image, .test .test-answer-row.with-image + .test-answer-row {
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 200px;
    margin-top: 30px;
}
.test .test-answer-row img {
    margin-bottom: 15px;
}
.test .test-answer-row label {
    display: flex;
    justify-content: center;
    padding: 0;
}
.test .test-answer-row label span {
    position: relative;
    padding-left: 24px;
}
.test .test-answer-row .custom-checkbox input + span:before {
    top: 0;
}
.test .test-answer-row .custom-radio span:before {
    top: 3px;
}
.test-question-type__3 {
    overflow: auto;
    flex-direction: column;
}
.test-question-type__3 .test-answer-row {
    max-width: 200px;
    min-width: 200px;
    display:flex;
    flex-direction: column;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
}
.test-question-type__3 .test-answer-row:hover {
    cursor: move;
    box-shadow: 0 0 10px rgba(216, 218, 231, 0.5);
}
.test-question-type__3 .test-answer-row + .test-answer-row {
    margin-top: 15px!important;
}
.test-question-type__3 .test-answer-item-image {
    flex-direction: initial;
}
.test .test-go {
    font-size: 18px;
}
.test .btn-test-prev {
    margin-left: 0;
}
.test .btn-test-next {
    margin-left: auto;
}
.test .test-btn-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}
.test .test-question-type__3 .test-answer-row img {
    width: 130px;
    max-width: 130px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.test .test-progress-row {
    margin-bottom: 5px;
    font-size: 12px;
}
.test-question-type__3 .test-answer-row img + .test-answer-title {
    text-align: center;
}
.test-question-type__3 .test-answer-row .test-answer-title {
    text-align: center;
}
.test-question-type__3 .test-answer-row .result-item img {
    border-radius: 10px;
}
.test-form .test-one-image {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    margin-top: 15px;
}
.test-result-decoding {
    background-color: #fff;
    border-radius: 10px;
}
.test .decryption-spoiler-content {
    overflow-x: scroll;
}
.test .decryption-spoiler-title, .decryption-spoiler-content {
    background: none;
}
.test .decryption-spoiler-title span {
    font-size: 16px;
    text-decoration: none;
}
.test .decryption-spoiler-title .icon-down {
    margin-left: auto;
}
.test .test-answer-row .test-list-image {
    max-width: 200px;
}
.test .test-submit {
    margin-left: auto;
}
.test .test-submit .button {
    margin-top: 0;
    padding: 7px 20px;
}
.table-test-answers tbody td, .table-test-answers thead td {
    padding: 10px;
}
.table-test-answers .result-item-cover {
    max-width: 120px;
    margin-top: 5px;
}
.table-test-answers .result-item-cover img, .table-test-answers .result-item-cover__question img {
    border-radius: 5px;
}
.table-test-answers .result-item-icon {
    margin-left: 5px;
}

.table-test-answers .result-sub-item-list {
    display: flex;
    flex-direction: column;
}
.table-test-answers .result-sub-item {
    display:flex;
    align-items: center;
    padding: 5px;
    background-color: #F7F8FA;
    border-radius: 5px;
}
.table-test-answers .result-sub-item + .result-sub-item {
    margin-top: 10px;
}
.table-test-answers .result-sub-item img {
    border-radius: 5px;
    max-width: 50px;
}
.table-test-answers .result-sub-item .result-sub-item-title {
    font-size: 14px;
    line-height: 18px;
    margin-left: 5px;
}
.decryption-spoiler {
     margin-top: 25px;
}

.dialog_top_form{
    padding-top: 45px;
}
.answer_form_wrap {
    position: relative;
}
.block_edit_answer, .block_edit_comment {
    right: 0;
    bottom: 0;
    z-index: 12;
    display: none;
    opacity: 0;
}
.block_edit_answer .block-border-top, .block_edit_comment .block-border-top {
    margin-top: 0;
}
.block_edit_answer textarea, .block_edit_comment textarea {
    height: 340px;
    display: block;
}
.block_edit_answer.active, .block_edit_comment.active {
    display: block;
}
#block_edit_answer.active + #block_edit_comment, #block_edit_comment.active + #block_edit_answer {
    margin-top: 20px;
}
.add-user-comment-wrap {
    font-size: 14px;
}
.list-questions .list-questions__type {
    margin-left: 20px;
}

.nav_gorizontal{
    margin-bottom: 30px;
}
.nav_gorizontal > ul{
    padding-left: 0;
    margin: 0 0 -5px -20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.nav_gorizontal > ul > li{
    list-style: none;
    margin: 0 0 10px 20px;
}
.nav_gorizontal > ul > li > a, .nav_gorizontal > ul > li > div > a{
    min-width: 170px;
}
.nav_gorizontal__parent-wrap{
    position: relative;
}
.nav_gorizontal__parent{
    background: #E04265;
    border-radius: 10px;
    z-index: 13;
    position: relative;
    display: flex;
    align-items: center;
}
.nav_gorizontal__parent-green{
    background: #0ad837;
}
.nav_gorizontal__parent:hover a{
    color: #fff;
}
.nav_gorizontal__parent a{
    padding-right: 15px;
}
.nav_gorizontal__parent span{
    font-size: 6px;
    color: #fff;
    height: 30px;
    width: 37px;
    padding-top: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.nav_gorizontal__parent span:after{
    content: '';
    position: absolute;
    height: 20px;
    border-left: 1px solid #fff;
    left: 0;
    top: 50%;
    margin-top: -10px;
}
.drop_down{
    position: absolute;
    left: 0;
    right: 0;
    top: 120%;
    border-radius: 0 0 10px 10px;
    margin: -10px 0 0;
    padding: 20px 0;
    list-style: none;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
}
.drop_down a{
    padding: 4px 24px;
    font-size: 14px;
    display: block;
}
.nav_gorizontal__parent-wrap.active .drop_down{
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.sections_list + .lessons_list {
    margin-top: 30px;
}
.sections_list .section_title a {
    text-decoration: none;
    font-weight: 700;
}
.lesson_desc-inner {
    margin-top: 10px;
    line-height : 20px;
}
.lesson_desc-inner, .lesson_desc-inner p {
    font-size: 14px;
}
.lesson-info {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: #373A4C;
    font-size: 12px;
}
.lesson-info .lesson-title-status {
    margin-top: 0;
    margin-right: 13px;
}
.lesson_desc .lesson-info .lesson-title-status span + a,
.lesson_desc .lesson-info .lesson-title-status span + span {
    margin-left: 9px;
}
.lesson-duration {
    position: relative;
    padding-left: 21px;
}
.lesson-duration:before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 14px;
    height: 15px;
    background: url(../images/lesson-duration.svg) no-repeat center;
    background-size: cover;
}

.by_buttons-wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.by_buttons-wrap .by_button {
    margin-right: 15px;
}

.home-work__with-sidebar .home-work__title {
    display: flex;
    align-items: center;
    border-bottom: none;
    padding-bottom: 5px;
}
.home-work__with-sidebar .home-work__title + hr {
    margin-bottom: 10px;
}
.home-work__with-sidebar .less_waiting {
    position: inherit;
    margin-left: auto;
}

.form-line .select-wrap:before, .form-line .select-wrap:after {
    display: none;
}

.course_item__top {
    margin-bottom: 15px;
}
.course_bottom {
    margin-top: 15px;
}
.course_desc {
    margin-top: 0;
}
.col-1-3 .course_cover{
    order: -1;
}
.course_data__2-col{
    background: none;
    margin: 0;
    flex-grow: 1;
    max-width: 264px;
}
.col-1-2__training-2 .course_item__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -10px;
}
.col-1-2__training-2 .course_item__top > *{
    margin-left: 10px;
}
.col-1-2__training-2{
    background: none;
}
.col-1-2__training-2 .course_item__title{
    margin: 0;
}
.course_item__top-inner{
    margin-bottom: 5px;
}
.col-1-2__training-2 .course_item__price{
    margin-bottom: 5px;
    color: #6d6d6d;
    font-size: 24px;
    white-space: nowrap;
}
.col-1-2__training-2 .course_cover{
    margin-top: 15px;
    margin-bottom: 15px;
}
.col-1-2__training-2 .course_bottom{
    display: flex;
    margin-left: -10px;
    justify-content: space-between;
}
.col-1-2__training-2 .course_bottom > *{
    margin: 0 0 0 10px;
    padding: 0;
}
.col-1-2__training-2 .course_data > li{
    width: 50%;
    text-align: left;
    flex-basis: auto;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #000;
}
.col-1-2__training-2 .course_data > li i{
    color: #D8DAE7;
    font-size: 22px;
    margin-right: 10px;
    width: 24px;
    text-align: center;
}
.col-1-2__training-2 .course_readmore{
    margin-bottom: 0;
}
.course_data > li{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 5px;
}
.course_line{
    width: calc(100% - 60px);
    margin-left: 60px;
    height: 1px;
    background: #D8DAE7;
    margin-bottom: 40px;
}
.col-1-2__training-2{
    margin-bottom: 40px;
    border-radius: 0;
}
.row-2-column{
    margin-bottom: -40px;
}
.course_readmore > * + *{
    margin-top: 10px;
}
.col-1-3__training-2 .course_item__title{
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}
.col-1-3__training-2 .course_item__top{
    padding: 0 20px;
}
.col-1-3__training-2 .course_desc{
    padding: 0 20px;
}
.col-1-3__training-2 .course_bottom{
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;
}
.col-1-3__training-2 .course_readmore{
    margin-bottom: 0;
}
.col-1-3__training-2 .course_links{
    margin-top: 20px;
}
.col-1-3__training-2 .progress_course{
    padding: 0 20px;
    margin-top: 15px;
}
.col-1-3__training-2 .progress-row{
    padding: 0 20px;
}
.col-1-2__training-2 .progress-row{
    margin-bottom: 15px;
}
.course_item__top--mt-25{
    margin-top: 25px;
}
.col-1-3__training-2 ~ .course_line{
    display: none !important;
}
.poll ~ .player-wrap{
    margin-top: 40px;
}
.player-wrap{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    position: relative;
}
.player-content{
    width: 69%;
    text-align: center;
}
.playlist-wrap{
    position: relative;
    width: 31%;
}
.playlist-wrap:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 1px;
    right: 1px;
    height: 90px;
    pointer-events: none;
    background-image: linear-gradient(rgba(51, 48, 56, 0) 0%, rgb(51, 48, 56) 90%);
}
.player-playlist{
    height: 450px;
    background-color: rgb(51, 48, 56);
    border-left: 1px solid rgb(0, 0, 0);
}
.player-content img{
    height: 452px;
    width: 100%;
    object-fit: cover;
}
.playlist-top{
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid #000;
}
.playlist-title{
    color: #ffffff;
    font-size: 24px;
    line-height: 1;
}
.playlist-count{
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.playlist-count-icon{
    width: 18px;
    height: 18px;
    background: url("../images/player.svg") center no-repeat;
    background-size: contain;
    margin-right: 10px;
}
.playlist-count-text{
    font-size: 14px;
    color: #d1d1d1;
    position: relative;
    top: 3px;
}
.playlist-link{
    border-bottom: 1px solid #000;
    padding: 15px;
    display: flex;
    align-items: baseline;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.playlist-link:hover, .playlist-link.active{
    background-color: #222124;
}
.playlist-link-number{
    color: #d1d1d1;
    width: 25px;
    flex-shrink: 0;
    margin-left: -12px;
    font-size: 13px;
    text-align: right;
}
.playlist-link-title{
    color: #ffffff;
    margin-left: 10px;
    flex-grow: 1;
    font-size: 14px;
}
.playlist-link-time{
    margin-left: 10px;
    min-width: 40px;
    flex-shrink: 0;
    font-size: 13px;
    color: #d1d1d1;
    text-align: right;
}
.open-playlist{
    display: none;
}
.elephant-title{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}
.elephant-title i{
    font-size: 32px;
    margin-right: 20px;
}
.elephant-widget{
    font-size: 14px;
}
.elephant-widget p{
    margin: 30px 0 0;
}
.progress-text{
    margin-top: 30px;
}
.progress-text + *{
    margin-top: 30px;
}
.widget-sticky{
    position: sticky;
    top: 90px;
}
html:not(#kaino-template) .kaino-visible{
    display: none !important;
}
.list-questions__status{
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1;
}
.status-inoy{
    color: #FFCA10;
}
.status-prinyato{
    color: #5DCE59;
}
.status-ne-sdan{
    color: #E04265;
}
.accept-dz{
    padding: 0;
    margin-left: 0;
    list-style: none;
}
.form-accept{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -20px;
    margin-bottom: -10px;
    font-size: 14px;
}
.form-accept > *{
    margin: 0 0 10px 20px !important;
}
.accept-dz-btn{
    background: #5DCE59 !important;
    padding: 0;
    cursor: pointer;
    border: 1px solid #5DCE59;
    transition: all 0.2s ease 0s;
    min-width: 191px;
    justify-content: space-between;
}
.accept-dz-btn .accept-dz-submit, .accept-dz-btn .nav-click{
    transition: all 0.2s ease 0s;
}
.accept-dz-submit{
    padding: 0 10px 0 25px;
    margin: 0;
    background: none;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}
.accept-dz-btn .nav-click{
    padding: 0 30px 0 20px;
    width: 46px;
}
.accept-dz-btn .nav-click:after{
    display: none;
}
.dz-submit-btn{
    margin: 0 5px 5px 0;
}

.drop_down{
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    min-width: 100%;
    background: #fff;
    z-index: 12;
}
.nav_gorizontal__parent-wrap .drop_down{
    background: rgba(93, 206, 89, 0.5);
    border-radius: 0 0 10px 10px;
    padding-bottom: 10px;
}
.nav_gorizontal__parent-wrap .drop_down a{
    color: #070707;
    text-decoration: none;
}
.nav_gorizontal__parent-wrap .drop_down a:hover{
    background: #5DCE59;
}
li.nav_gorizontal__parent-wrap.active {
    z-index: 10;
}
.assign-user{
    font-size: 12px;
    margin-bottom: 0;
}
.list-questions__file{
    margin-top: 15px;
    margin-bottom: -10px;
}
.list-questions__file a{
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    margin-right: 15px;
    margin-bottom: 10px;
}
.list-questions__file i{
    font-size: 24px;
    margin-right: 10px;
}
.list-questions__file a:hover{
    color: #000;
}

.curator_edit_answer {
    position: relative;
    margin-top: 30px;
}
.curator_edit_answer .block_edit_comment {
    background-color: #fff;
    border-radius: 10px;
}
.curator_edit_answer .add-home-work-right {
    width: calc(100% - 30px);
}
.curator_edit_answer .answer-client-bottom {
    margin-top: 15px;
}
.next_less_top-wrap--bottom {
    margin-top: 20px;
}
.home-work-wrap {
    background-color: #F7F8FA;
    margin-top: 40px;
    border-radius: 10px;
}
.home-work-wrap .homework-top {
    background: none;
}
.homework-setting-wrap {
    margin-top: 10px;
}
.home-work-wrap .home-work-content {
    margin-bottom: 30px;
}
.home-work-wrap .answer_list {
    padding: 1px 0 10px;
    background:none;
}
.home-work-inner + .home-work-wrap {
    margin-top: 40px;
}
.home-work-wrap .answer_form_wrap {
    padding: 10px 0 30px;
    background: none;
}
.home-work-wrap #block_edit_comment .block-border-top, .home-work-wrap .block_edit_answer .block-border-top  {
    padding: 10px 25px 0 30px;
}
.home-work-wrap .sub_answer_list-list {
    margin-top: 15px;
    margin-left: 84px;
}
.add-home-work-submit {
    display: flex;
    align-items: center;
}
.add-home-work-submit .homework_is_public-wrap {
    margin-right: 20px;
}
.answer-item__bottom {
    display:flex;
    align-items: center;
}
.answer-item-bottom__right {
    display:flex;
    margin-left: auto;
}
.like_btn_wrap {
    display: flex;
    align-items: self-end;
    padding: 5px 10px;
    /*background-color: #F7F8FA;*/
    border-radius: 10px;
    color: #0772A0;
    line-height: 16px;
    margin-left: 31px;
}
.like_btn_wrap:hover, .like_btn_wrap.like {
    background-color: #D8DAE7
}.like_btn_wrap.like {
     color: #E04265;
 }

.like_btn {
    display: inline-block;
    line-height: 14px;
    width: 16px;
    height: 13px;
    background: url("../images/like_btn_icon.svg") center no-repeat;
    background-size: contain;
}
.like_btn_wrap.like .like_btn {
    background-image: url('../images/like_btn_icon2.svg');
}
.like_count {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin-left: 5px;
}
.reply_btn_wrap {

}
.training-list-container .course_category + hr, #widget-training .course_category + hr {
    margin-top: 60px;
    margin-bottom: 60px;
}
.training-list-container .training-list-header, #widget-training .training-list-header {
    margin-bottom: 60px;
}
.training_list.row-3-column .training_author {
    color: #6D6D6D;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
}
section._instruction.traning-widget {
    margin-top: 0;
}
.training-list-header + .course_filter .filter-select, .course_category + hr + .course_filter .filter-select {
    border-bottom: none;
    padding-bottom: 0;
}
.block_list .mini_cut {
    padding-top: 0;
}
.block_list .lesson_item {
    margin-top: 20px;
}

@media screen and (max-width: 1200px), only screen and (max-device-width: 1200px){
    .course_category__row.row-2-column, .row-2-column.training_list {
        margin-left: -60px;
    }
    .row-2-column{
        margin-bottom: -20px;
    }
    .col-1-2 {
        margin-left: 60px;
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }
    .col-1-3 {
        margin-left: 20px;
        width: calc(33.3333% - 20px);
        margin-bottom: 20px;
    }
    .course_line{
        width: calc(100% - 20px);
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .dialog_item__answer {
        margin-left: 84px;
    }
    .sub_answer_list-list .answer_item.answer {
        margin-left: 0;
    }
}
@media screen and (min-width: 992px){
    .lesson-sidebar-outside .player-content{
        width: calc(100% - 44px);
    }
    .lesson-sidebar-outside .playlist-wrap{
        width: 44px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 10;
        transition: width 0.2s ease 0s;
    }
    .lesson-sidebar-outside .playlist-top{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .lesson-sidebar-outside .player-playlist{
        overflow: hidden;
        height: 100%;
    }
    .lesson-sidebar-outside .open-playlist{
        display: flex;
    }
    .open-playlist{
        background: #333038;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 44px;
        padding: 10px;
        flex-direction: column;
        cursor: pointer;
        z-index: 1;
    }
    .open-playlist-btn{
        width: 24px;
        height: 24px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 5px 0;
    }
    .open-playlist-btn span{
        width: 100%;
        display: block;
        background: #FFFFFF;
        height: 2px;
        border-radius: 2px;
    }
    .open-playlist-btn span + span{
        margin-top: 5px;
    }
    .open-playlist-word{
        flex-grow: 1;
        color: #fff;
        word-break: normal;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .open-playlist-word span{
        transform: rotate(-90deg);
    }
    .playlist-wrap.show{
        overflow: visible;
        width: 390px;
        max-width: 100%;
    }
    .lesson-sidebar-outside .playlist-title{
        padding-right: 20px;
    }
    .playlist-content{
        overflow-y: auto;
        flex-grow: 1;
    }
    .player-playlist{
        display: flex;
        flex-direction: column;
    }
    .playlist-wrap.show .open-playlist{
        height: 44px;
        overflow: hidden;
    }
    .playlist-wrap.show .open-playlist-word{
        display: none;
    }
    .elephant-widget p{
        margin: 20px 0 0;
    }
    .progress-text{
        margin-top: 20px;
    }
    .progress-text + *{
        margin-top: 20px;
    }
}
@media screen and (max-width: 991px), only screen and (max-device-width: 991px){
    .player-content, .playlist-wrap{
        width: 100%;
    }
    .player-content img{
        height: auto;
        max-height: 452px;
    }
    .player-playlist{
         height: auto;
    }
}
@media screen and (max-width: 767px), only screen and (max-device-width: 767px){
    .col-1-2, .col-1-3 {
        width: calc(100% - 20px);
    }
    .course_line{
        display: none;
    }
    /*.col-1-2:not(:first-child), .col-1-3:not(:first-child){
        border-top: 1px solid #D8DAE7;
        padding-top: 20px;
    }*/
    .next_less_top-wrap--bottom {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 479px), only screen and (max-device-width: 479px){
    .col-1-2__training-2 .course_bottom{
        flex-wrap: wrap;
    }
    .col-1-2__training-2 .course_bottom > *{
        width: calc(100% - 10px);
    }
    .col-1-2__training-2 .course_readmore{
        text-align: center;
    }
    .col-1-2__training-2 .course_links{
        margin-top: 10px;
    }
    .col-1-2__training-2 .course_item__top{
        flex-direction: column;
    }
    .lesson-info {
        flex-wrap: wrap;
    }
}
.curator-imagesWrapper, .list-modal-images-wrap {
    display: flex;
    flex-wrap: wrap;
}
.curator-imageWrapper, .modal-image-wrap {
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 25%;
    align-items: center;
}
.curator-imageWrapper .imageContainer, .modal-image-wrap .modal-image {
    width: 100%;
    height: 125px;
    margin-bottom: 8px;
    border-radius: 10px;
}
.curator-imageWrapper .imageContainer img, .modal-image-wrap .modal-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.curator-imageWrapper a{
    height: 25px;
}
.modal-image-wrap {
    align-items: normal;
}
.modal-image-wrap .modal-image + a {
    display: inline-block;
    margin: 0;
    font-size: 13px;
    text-align: left;
}
.modal-image-wrap .modal-image + a i {
    font-size: 13px;
    margin-right: 4px;
}
.modal-image-wrap.width-33 {
    width: 33%;
}
#fullscreenimagewrapper {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: brightness(0.8);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    overflow-y: auto;
}
#btnclosefullscreenimage {
    filter: contrast(0%) sepia(100%) hue-rotate(320deg) brightness(1) saturate(800%);
    position: relative;
    right: 50px;
    top: -225px;
    cursor: pointer;
}
#btnclosefullscreenimage:hover {
    filter: contrast(10%) sepia(150%) hue-rotate(320deg) brightness(1) saturate(1000%);
}
#wrapperimage-full {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: white;
    box-sizing: content-box;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #5f5f5f;
}
#wrapperimage-full #fullscreenimage{
    width: 100%;
    height: 500px;
    object-fit: contain;
}
.list-questions__text {
    word-break: break-word;
}
@media (max-width: 900px) {
    .curator-imageWrapper {
        width: 50%;
    }
}
@media (max-width: 550px) {
    .curator-imageWrapper {
        width: 100%;
    }
}
.curator-imageWrapper .icon-attach-1::before {
    margin-right: 4px;

}
#edit_answer_form .attach {
    margin-right: 10px;
}
#edit_answer_form .answer_attach_name {
    position: relative;
}
#edit_answer_form .attach .icon-remove {
    position: absolute;
    top: 0;
    right: -12px;
    font-size: 10px;
}

.training-page div.maincol, .training-page div.maincol_min,
.section-page div.maincol, .section-page div.maincol_min,
.lesson-page div.maincol, .lesson-page div.maincol_min,
.training-options-page div.maincol, .training-options-page div.maincol_min {
    background-color: inherit;
    /*margin-left: 49px;*/
    width: calc(67% - 49px);
}
@media (max-width: 1200px) {
    .training-page div.maincol, .training-page div.maincol_min,
    .section-page div.maincol, .section-page div.maincol_min,
    .lesson-page div.maincol, .lesson-page div.maincol_min,
    .training-options-page div.maincol, .training-options-page div.maincol_min {
        margin-left: 0!important;
    }
}

.course_data .tr-info {
    display: flex;
    flex-direction: column;
}
.icon-tr_time, .icon-tr_count_lessons, .icon-tr_certificate, .icon-tr_start, .icon-tr_level {
    font-size: 16px;
    color: #373A4C;
    margin-bottom: 2px;
}
.icon-tr_time:before {
    content: "\e914";
}
.icon-tr_count_lessons:before {
    content: "\e917";
}
.icon-tr_certificate:before {
    content: "\e92f";
}
.icon-tr_start:before {
    content: "\e915";
}
.icon-tr_level:before {
     content: "\e916";
 }

#courses .lesson_item > a {
    align-self: center;
}

.training-page #content .breadcrumbs li a:hover, .inner-training-page #content .breadcrumbs li a:hover {
    text-decoration: none!important;
}
#block_edit_answer .cke_contents.cke_reset, #answer_form .cke_contents.cke_reset, #block_edit_comment .cke_contents.cke_reset {
    border: 1px solid #D8DAE7;
}
.course_category .category_desc {
    padding-top: 20px;
}
.course_category .category_desc_info {
    margin: -10px 0 0 ;
}
.course_category .course_count {
    position: relative;
    margin-top: 12px;
    padding-left: 34px;
}
.course_category .course_count:before {
    position: absolute;
    top: -2px;
    left: 0;
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url("../images/folder_icon.png") center no-repeat;
    background-size: contain;
}

.lesson-inner .lesson-element-text {
    margin-bottom: 30px;
}
#courses .course_cover, #courses .category_cover {
    height: 255px;
}
#courses .col-1-2__training-2 .course_cover {
    height: 354px;
}
#courses .course_cover img, #courses .category_cover img {
    width: 100%;
    height: 100%!important;
    object-fit: cover;
}
.round-block {
    border-radius: 10px;
}
.error-alert-text {
    color: #fff;
    font-weight: normal;
}
.warning-block {
    padding: 16px;
    background-color: #FEBF00;
    margin-bottom: 16px;
}