/load/backups/*.zip
load/hometask/*
/tmp/*.zip
/tmp/
/config/config.php
/vendor/
/lib/
log/*
.env
.idea/.gitignore
.idea/modules.xml
.idea/smdemo.ru.iml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/jshint.xml
log/
images/*
load/avatars/*
.rsaprivkey.pem

task/data.xlsx
task/renewal_analysis.php
# Игнорируем пользовательский контент
images/**/*.svg
images/**/*.png
images/**/*.jpg
images/**/*.jpeg
images/**/index.html
images/**/fonts/*.ttf

load/avatars/
load/hometask/
!load/hometask/index.php
