/load/backups/*.zip
/tmp/*.zip
/tmp/
/config/config.php
/vendor/
/lib/


.idea/.gitignore
.idea/modules.xml
.idea/smdemo.ru.iml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/jshint.xml

images/*
load/avatars/*

